@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
  color: #251E22
}

h2 {
  font-weight: 400;
}

a {
  color: rgb(20, 20, 20);
  text-decoration: none;
}

a:hover {
  color: #D3D3D3;
}

.grey-button {
  background-color: #D3D3D3;
  border-radius: 20px;
  padding: 8px;
}

.grey-button:hover {
  background-color: #574951;
}

.rounded_picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgb(180, 180, 180);
}

.list-inline {
  padding-left: 0px!important;
}

.list-inline > li {
  display: inline-block;
  padding: 5px 5px;
}

.homecard, div {
  width: 400px;
  margin: 15px auto;
  text-align: center;
  background: rgb(250, 250, 250);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

@media (max-width: 960px) {
  .homecard, div {
    width: 600;
  }
}

@media (max-width: 540px) {
  .homecard, div {
    width: 200px;
  }
}

